
table {border-collapse: collapse; border: thin solid black; margin: 10px}
/*dialog css*/
#placeholder {text-align: center}
#show {margin: 10px}
td, th {padding: 5px; width: 100px; text-align:center}
#dialog{background-color: #f8f9fa}
#dialog title {background-color: darkgray}
.dialog{
  width: 100% !important;
}
.ui-widget{
  background-color: grey;
}
.ui-widget-content{
  /*background-color: #f8f9fa;*/
  border: 1px solid grey;
  color: #383838;
  background: #f8f9fa;
}

.ui-widget-content {
  border: 1px solid #8e846b;
  color: #383838;
}
.ui-widget-overlay{
  opacity: .8;
}

.ui-widget-header {
  border: 1px solid grey;
  background:grey;
  color: white;
  font-weight: bold;
}

.delete-button{
  color:red;
  background-color: #f8f9fa;
  border: 1px solid red;
}
/*pagination*/
.page-item.active .page-link {
  z-index: 1;
  color: #343a40;
  background-color: #f8f9fa;
  border-color: #adb5bd;
}
.page-link {

  color: #343a40;

}
.paginate_button :hover{
  color:#343a40
}




/*.btn-add-employee{*/
/*  !*background-color: grey;*!*/
/*  width: 32% ;*/
/*  margin-left: auto;*/
/*  display: block*/
/*}*/
