
table {border-collapse: collapse; border: thin solid black; margin: 10px}
/*dialog css*/
/*#placeholder {text-align: center}*/
td, th {padding: 5px; width: 100px; text-align:center}
.modal-header{
  background-color: grey;
  border-radius: 10px;
  margin: 5px;
}
.modal-title {
  background-color: grey;
  color: #f8f9fa;
  border-radius: 25px;
}
.modal-content{
  background-color:#e9ecef;
  border-radius: 10px;
  width: 300px;
}
.model-button{
  border: black;
  color: black;
  background-color: gainsboro;
}
.dialog{
  width: 100% !important;
  border-radius: 25px;
}
.modal-footer {
  border-top: 1px solid black;
}

.delete-button{
  color:red;
  background-color: #f8f9fa;
  border: 1px solid red;
  padding: 10px;
  text-decoration:none;
}
.delete-button:visited {
  color:red;
  text-decoration:none;
}
.delete-button:hover {
  color:red;
  text-decoration:none;
}
